/* общие стили */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body{
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
body p{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #00000085;
    /* background-image: url('background.jpg'); */
}
.container {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
/* menu */

.top-menu {
    position: relative;
    background: #05080df0;
    display: flex;
    justify-content: space-between;
    /* box-shadow: inset 0 0 10px #ccc; */
}

.menu-main {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: end;
    position: relative;
}


.menu-main li,.main-logo li {
    display: inline-block;
    padding: 5px 0;
}
.menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #777777;
    border-bottom: 1px solid transparent;
    transition: .3s linear;
}
.menu-main .current, .menu-main a:hover {
    border-radius: 3px;
    background: #1F2833;
    color: #66FCF1;
    text-shadow: 0 1px 0 #fff;
}
.main-logo{
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: end;
    position: relative;
}
.main-logo a{
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #66FCF1;
    border-bottom: 1px solid transparent;
    white-space:nowrap;
    border: 1px solid #1F2833;
}

#triangle-right {
    top: 20px;
    right: -29px;
    width: 0;
    position: absolute;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 66px solid #1C1E21;
    border-bottom: 40px solid transparent;
    cursor: pointer;

}

#triangle-right:hover{
    border-left: 66px solid #1c1e21b8;
}

#circle {
    top: 4px;
    right: -29px;
    width: 94px;
    position: absolute;
    height: 112px;
    background: #34383D;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

@media (max-width: 500px) {
    .menu-main li {display: block;}
}

/* footer */
footer{
    background: #05080df0;;
}
footer .header{
    color:white;
    text-align: center;
    padding: 10px 0px;
}
.contact-footer{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color:#aeaeae;
}

.contact-footer .contacts{
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
    width: 100%;
    margin: 5px;
}

/* tableChooseDirection */
.formContainer{
    margin-top: 30px;
}
.tableChooseDirection{
    width: 100%;
    color: white;
    border-radius: 5px;
    border: 1px solid #66FCF1;
    border-collapse: separate;
    border-spacing: 0;
    /* border: 1px solid black; */
}

.tableChooseDirection .tdContainer{
    padding: 10px;
}
.tableChooseDirection th,.tableChooseDirection td{
    border-top: 1px solid #66FCF1;
    border-left: 1px solid #66FCF1;
}
.tableChooseDirection th{
    background-color: #1F2833;
    color: #66FCF1;
}
.tableChooseDirection td{
    background: #0b0c109c;
}

input,select,textarea{
    background-color: #00000085 !important;
    border: 1px solid #00000085 !important;
    color: white !important;
    height: 20px;
    border-radius: 5px;
    width: 100%;
}
textarea{
    resize:none;
}
input:active{
    background-color: #00000085 !important;
    border: 1px solid #00000085 !important;
    box-shadow: none;
    color: white !important;
}
input:focus{
    box-shadow: none!important;
}
input[type="submit"]{
    margin: 5px 0px;
}